.flex-container1{
    background-color:white;
    height:auto;
    width:auto;

    margin:100px;
    text-align: center;
    filter:blur(2px);
    z-index: -1;

}
.box4{
    background-color: antiquewhite;color:red;
    height:200px;
    width:200px;
    border:1px solid red;
    margin:20px;
    border-radius: 10px;
    padding-top: 20px;
    text-align: center;
    position:relative;
     left: 550px;

     
}

.fa-solid{
    position: relative;
    top:40px;
    left:80px;
    font-size: 25px;
    
}

.postiton{
    position: relative;
    bottom:80px;
    left: 30px;
}
.line{
    width: 130px;
    position:absolute;
    right: 430px;
}
.li{

    width: 130px;
    position: absolute;
    right:780px;
    bottom: 320px;
    
}
.fa {
    font-size: 30px;
    color: orangered;
}

.box2{
 
    background-color: antiquewhite;color:red;
    height:150px;
    width:350px;
    border:1px solid red;
    margin:20px;
    border-radius: 10px;
    padding-top: 30px;
    text-align: center;
    position:absolute;
     left: 550px;
     bottom:250px;
     z-index: +1;
}
.ad{
    background-color: orangered;color:white;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    
}